body {

	background-color: black
}
body {font color: green}
body {font-family: "inconsolata", monospace;}

h1 {
	color: green}
h1 {
	font-family: "inconsolata", monospace;
}
h1 {font-size: 45}

h2	{color: green}
h2	{font-size: 45}
h2	{font-family: "inconsolata", monospace;}
p {color: green};
{font-family: "inconsolata", monospace; };
{font-size: 20}
script {font-family: "inconsolata", monospace;};
{font color: green
}
